.product-list-thumbnail img {
  width: 48px;
}

.waiting-css {
  opacity: 25%;
}

.add-to-favorites {
  color: var(--color-secondary) !important;
  font-size: 26px !important;
  position: relative;
  margin-right: 7px;


  &:hover {
    color: var(--color-secondary) !important;
  }

  &.active {
    .fal {
      display: none;
    }

    .fa {
      display: inline-block;
    }
  }

  &:not(.active) {
    .fal {
      display: inline-block;
    }

    .fa {
      display: none;
    }
  }
}

.nav-link {
  padding: 0;
}

.mainmenu > .menu-item-has-children > a::after {
  top: -3px;
  right: -17px;
}

.product-mini {
  .title {
    min-height: 40px;

    a:hover {
      color: var(--color-secondary);
    }
  }

  .product-content {
    padding: 15px;
    margin-top: 0 !important;
  }
}

.axil-single-post {
  .post-thumbnail {
    height: 350px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.chart-x-ticks {
  .limit {
    font-size: 14px;
    font-weight: 600;
    color: #333;

    &.limit-start {
      &:before {
        margin-left: 3px;
        content: "";
        width: 12px;
        height: 16px;
        display: inline-block;
        border-bottom: 1px solid rgba(0, 0, 0, 0.8);
        border-left: 1px solid rgba(0, 0, 0, 0.8);
        border-bottom-left-radius: 3px;
      }
    }

    &.limit-end {
      &:after {
        margin-right: 3px;
        content: "";
        width: 12px;
        height: 16px;
        display: inline-block;
        border-bottom: 1px solid rgba(0, 0, 0, 0.8);
        border-right: 1px solid rgba(0, 0, 0, 0.8);
        border-bottom-right-radius: 3px;
      }
    }

  }
}

.wpcf7-form p{
  display: inline-block;
  width: 100%!important;
  margin-bottom: 0!important;
}

.breadcrumb_last{
  color: var(--color-primary);
}

.main-slider-content {

  .title{
    font-size: 48px;
  }

  @media (max-width: 767px) {
    font-size: 30px;
  }

  .tagline,
  .title{
    color: white;
    text-shadow: 3px 3px 8px rgba(0,0,0,0.4);
  }

}

.home-hero{
  height:calc( 100vh - 80px);
}

#menu-footer-menu{
  padding: 0;
  margin: 0;

  li{
    display: inline-block;


    &:not(:last-child){
      &:after{
        content:'-';
        margin: 0 5px;
      }
    }


    a{
      color: var(--color-body)!important;
      font-weight: 500;
      font-size: 14px;
    }
  }
}

@media (max-width: 479px) {
  .header-action .axil-search input{
    max-width:170px!important;
  }
}


.header-brand{
  img{
    height: 70px;
  }
}

.axil-signin-area .site-logo{
  img{
    height: 70px;
  }

  .logo-light{
    display: inline-block!important;
  }

  .logo-dark{
    display: none!important;
  }
  
  @media (max-width: 990px)  {
    .logo-dark{
      display: inline-block!important;
    }
    .logo-light{
      display: none!important;
    }
  }
}

.mobile-nav-brand{
  img{
    height: 50px;
  }
}