
#autocomplete {
  .aa-Input {
    width: 100%;
    border: none !important;
  }

  .aa-InputWrapper{
    padding: 6px;
  }

  .aa-Label {
    left: 0!important;
    top: 0!important;
    padding: 0!important;
  }
}

.aa-Panel {
  z-index: 1000!important;
}